body{
    width: 70%;
    margin: 30px auto;
    background-color: black;
}
.container{
    
    font-family: arial;
    padding: 0 15px;
    background-color: #f1f1f1;
}
.container .header .h3-1{
    color: #f1f1f1;
    background-color: black;
    width: calc(30%);
    padding: 50px 0 10px 15px;
    

    
}
.container .header div{
    padding: 0 100px;
}
.container .header h1{
    color: #9CA2A6;
    
    font-size: 55px;
    font-weight: 600;
    margin: 0 0 -20px 30px;
}
.container .header .h3-2{
    color: #ABB0B3;
    padding: 10px 30px;
    font-style: italic;
}
.container .section{
    display: flex;
    padding-bottom: 50px;
}
.container .section .section1 {
    width: 30%;
    background-color: black;
    color: #f1f1f1;
    
    
    
}
.container .section .section1 .image{
    width: 80%;
    margin: 20px auto;
    
}
.container .section .section1 .image img{
    width: 100%;
    /* margin: 10px; */
}
.container .section .section1 .text{
    padding-left: 20px;
}
.container .section .section1 .text ul{
    list-style-image: url('<i class="bi bi-star-fill"></i>');
}
.container .section .section2{
    margin-left:30px;
}
.container .section .section2 h3,p{
    color: #ABB0B3;
}

.container .section .section2 .experiences{
    display: flex;
    align-items:flex-start;
    font-size: small;
    margin-bottom: 10px ;
}
.container .section .section2 .experiences p{
    margin: 0px 0 0 30px;
    
}
.container .section .section2 .experiences p i{
    color:black ;
}
.container .section .section2 .skills{
    width: 80%;
}
.container .section .section2 .skills .background{
    float: right;
    width: 60%;
    height: 10px;
    background-color: grey;
    
    
    
}
.container .section .section2 .skills .background .background1{
    background-color: black;
    width: 80%;
    height: 10px;
    
}
.container .section .section2 .skills .background .background2{
    background-color: black;
    width: 60%;
    height: 10px;
    
}
.container .section .section2 b{
    font-size: small;
}
@media screen and (max-width: 1080px) {
    .container .header div{
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .container .header h1{
        font-size: 40px;
    }
.container .section{
    display: flex;
    flex-direction: column;
}
    
.container .section .section1 {
    display: flex;
    background-color: black;
    width: calc(100%);
    padding: 40px;
    
}


.container .section .section1 .image{
    width: calc(30%);
    
}
.container .section .section1 .text{
    
    width: calc(70% - 20px);
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 20px;
    justify-content: space-around;
   
}
.container .section .section2{
    padding-top: 40px;
}

}
@media screen and (max-width: 780px){
    body{
        width: 90%;
    }
    .container .header .h3-1{
        font-size: 15px;
        padding: 20px 5px 5px 10px;

    }
    .container .header h1{
        font-size: 30px;
    }
    .container .section .section1 .text{
        display: flex;
        flex-direction: column;
    }
}




