body{
    width: 40%;
    margin:30px auto;
}
.container{
    font-size: smaller;
}
.table1{
    border-collapse: collapse;
    vertical-align: middle;
    margin: 0 auto;
    /* width:360px; */
    height: 250px;
    border-color: red ;
    text-align: center;
}

.table1 tr:nth-child(even) {
    background-color: #FAEBD7;
}
.table1 tr:nth-child(odd) {
    background-color: #A9A9A9;
}
.table1 td:nth-child(even) {
    background-color: #7FFFD4;
}
th{
    width: 110px;
}


.line{
    border-top: 2px solid green;
    margin-top: 20px;
}
.table2{
    border-collapse: collapse ;
    /* width: 350px; */
    height:125px;
    margin: 0 auto;
    border-color: red;
    text-align: center;
}
.table3{
    border-collapse: collapse;
    /* width: 320px; */
    height: 100px;
    border-color: red;
    margin: 0 auto;
    text-align: center;
}
.table3 th,td{
    width: 80px;
}
.table3 tr:nth-child(1){
    background-color: #FAEBD7;
}