#tieu-de {
    color:#359B9B;
    text-align: center;

}
#body {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-image: url('https://i.pinimg.com/originals/02/dd/d3/02ddd373d303439e0fe9b7bebea8150c.png');
    background-repeat: no-repeat;
    background-position: center ;
    box-shadow: 5px 5px 5px lightgray;
    
    
}
#mo-dau {
    color: white;
    font-weight: 500;
    background-color:#359B9B;
}
#noi-dung {
    color:#359B9B;
}
